

.p-cad-admin{
    display: flex;
    align-items: center;
    align-content: center;
    text-align: center;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 15px;
    max-width: 500px;
    max-height: 415px;
    padding: 50px;
    background-color: white;
}

.cadadm-body{
    margin-top: 100px;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    align-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}